version: "3.7"
name: es

services:
  es01:
    # https://hub.docker.com/_/elasticsearch/
    image: elasticsearch:${ES_VERSION}
    # specifying a container name (e.g. es01 instead of es-es01-1)
    container_name: es01
    ports:
      - ${ES_PORT}:9200
      # note: 9300 is for inter-cluster communication (i.e. with nodes), but we don't have to expose
    env_file: ./.env
    environment:
      # max heap size for java
      ES_JAVA_OPTS: -Xmx512m -Xms512m
      # configure as a single node cluster (tries to discover other nodes otherwise, but not a problem)
      discovery.type: single-node
      node.name: es01
      cluster.name: elasticsearch
      # for development, we don't need SSL
      xpack.security.enabled: false
      logger.level: info
    volumes:
      - ./volumes/es01:/usr/share/elasticsearch/data

  kibana:
    container_name: kibana
    image: kibana:${ES_VERSION}
    ports:
      - ${KIBANA_PORT}:5601
      # 9600 is for node-monitoring API
      #- 9600:9600
    env_file: ./.env
    environment:
      - SERVERNAME=kibana
      - ELASTICSEARCH_HOSTS=http://es01:9200
      # by settings these here, we don't have to log into the Kibana UI:
      - ELASTICSEARCH_USERNAME=kibana_system
      - ELASTICSEARCH_PASSWORD=${KIBANA_PASSWORD}
      - LOGGING_ROOT_LEVEL=info
    depends_on:
      - es01

  logstash:
    image: logstash:${ES_VERSION}
    container_name: logstash
    depends_on:
      - es01

  # there are different "beats" available, here we setup filebeats
  #   https://www.elastic.co/guide/en/beats
  filebeat:
    image: elastic/filebeat:${ES_VERSION}
    container_name: filebeat
    environment:
      - ELASTICSEARCH_HOSTS=http://es01:9200
    depends_on:
      - es01
    volumes:
      - ~/.aws:/root/.aws:ro
    # command: 'bash -c "echo sleeping... && sleep infinity"'
